.Step0 {
  .main-section {
    height: 107px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    width: calc(100% - 24px);
    margin: 40px auto;
    justify-content: space-between;
  }
}
